{% load static %}

<div id="{{ widget.attrs.id }}" 
     class="json-editor-container"
     {% if widget.attrs.style %}style="{{ widget.attrs.style }}"{% endif %}
     {% include "django/forms/widgets/attrs.html" %}>
</div>

<textarea id="{{ widget.attrs.id }}_textarea" 
          name="{{ widget.name }}" 
          class="json-editor-textarea" 
          required>
</textarea>

<div data-json-widget
     data-container-id="{{ widget.attrs.id }}"
     data-textarea-id="{{ widget.attrs.id }}_textarea"
     data-options='{{ widget.options|safe }}'>
    {{ widget.value|safe }}
</div>